/* ======================================================================= */
/* Final */
/* ======================================================================= */

body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  color: rgb(36,41,46);
  line-height: 1.5;
  font-size: 16px;
}

p {
  color: rgb(36, 41, 46);
  margin-bottom: 10px;
  margin-bottom: 16px;
}

strong {
  font-weight: 600;
}

a {
  color: rgb(3,102,214);
}

hr {
  margin-top: 24px;
  margin-top: 15px;
  background-color: rgb(225,228,232);
  border-bottom: 1px solid rgb(223,226,229);
  height: 4px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
  color: rgb(36,41,46);
}

/* ======================================================================= */
/* Global */
/* ======================================================================= */

.markdown-body blockquote,
.markdown-body dl,
.markdown-body ol,
.markdown-body p,
.markdown-body pre,
.markdown-body table,
.markdown-body ul {
  margin-bottom: 16px;
  margin-top: 0;
}

/* ======================================================================= */
/* Headers */
/* ======================================================================= */

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

h1 {
  font-size: 32px;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
  margin-top: .67em;
}

h2 {
  font-size: 24px;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}

h3 {
  font-size: 20px;
  font-size: 1.25em;
}

h4 {
  font-size: 16px;
  font-size: 1em;
}

h5 {
 font-size: 14px;
 font-size: .875em;
}

h6 {
 font-size: 12px;
 font-size: .85em;
 color: rgb(106,115,125)
}

/* ======================================================================= */
/* Links */
/* ======================================================================= */

.markdown-body .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}

/* ======================================================================= */
/* Blockquote */
/* ======================================================================= */

.markdown-body blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

.markdown-body blockquote>:first-child {
  margin-top: 0;
}

.markdown-body blockquote>:last-child {
  margin-bottom: 0;
}

/* ======================================================================= */
/* Code */
/* ======================================================================= */

.markdown-body code,
.markdown-body pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 12px;
}

.markdown-body pre {
  margin-bottom: 0;
  margin-top: 0;
}

.markdown-body code {
  background-color: rgba(27,31,35);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}

.markdown-body pre {
  word-wrap: normal;
}

.markdown-body pre>code {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
}

.markdown-body pre code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
}

.markdown-body kbd {
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
  color: #444d56;
  display: inline-block;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

.markdown-body .highlight pre,
.markdown-body pre {
  /* background-color: #f6f8fa; */
  background-color: rgb(246,248,250);
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

/* ======================================================================= */
/* Tables */
/* ======================================================================= */
.markdown-body table td,
.markdown-body table th {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-body table {
  display: block;
  overflow: auto;
  width: 100%;
}

.markdown-body table th {
  font-weight: 600;
}

/* ======================================================================= */
/* Lists */
/* ======================================================================= */
.markdown-body ol,
.markdown-body ul {
  padding-left: 2em;
}

.markdown-body ol ol,
.markdown-body ol ul,
.markdown-body ul ol,
.markdown-body ul ul {
  margin-bottom: 0;
  margin-top: 0;
}

.markdown-body li {
  word-wrap: break-all;
}

.markdown-body li>p {
  margin-top: 16px;
}

.markdown-body li+li {
  margin-top: .25em;
}
